body {
	font-family: "Neuton", serif;
}

.navbar-brand,
.nav-link {
	font-weight: bold;
	color: #343f71;
}

.navbar-brand:hover,
.nav-link:hover,
.selected {
	font-weight: bold;
	color: #232b4b;
}

.selected {
	border-bottom: #232b4b solid 2px;
}

.container {
	background-color: #e9d8e4;
	border: #343f71 solid 3px;
	color: #232b4b;
}

button {
	color: white;
	background-color: #232b4b;
	border: #232b4b solid 2px;
}

button:hover {
	color: #232b4b;
	background-color: unset;
}
